<!DOCTYPE html>
<html>
  <head>
    <title>FoodDrive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <ul>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    <% else %>
      <ul>
        <li><a href="/users/new">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    <% end %>
    <%= yield %>
    <a href="/">home</a>
  </body>
</html>
