<!DOCTYPE html>
<html>
  <head>
    <title>FoodDrive</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Food Drive</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/users/<%= current_user.id %>">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Food Drive</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/users/new">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
